<%- include('partials/header'); %> 

<h2>About</h2>
<p><%= aContent %> </p>
<div class="aboutContainer">
  <div class="col-1">
    <h4>Attributes</h4>
    <ul class="aboutmeList attributes">
      <li><h5>Type:</h5> <p>Ambivert</p> </li>
      <li><h5>Physique:</h5> <p>Skinny</p> </li>
      <li><h5>Behaviour:</h5> <p>Shy to Crazy</p> </li>
      <li><h5>Relationship Status:</h5> <p>Single since Birth</p> </li>
      <li><h5>Core Value:</h5> <p>Empathy</p> </li>
      <li><h5>Vision:</h5> <p>Growth and Peace</p> </li>
    </ul>
  </div>

  <div class="col-2">
    <h4>Favourites</h4>
    <ul class="aboutmeList favourites">
      <li><h5>Favourite Subject:</h5> <p>Internet and Web Technology</p> </li>
      <li><h5>Favourite Book:</h5> <p>You Can Win</p> <i>by Shiv Khera</i> </li>
      <li><h5>Favourite Dish:</h5> <p>Butter Naan and Kadhai Paneer</p> </li>
      <li><h5>Favourite Sport:</h5> <p>Badminton, Archery</p> </li>
      <li><h5>Favourite Web Series:</h5> <p>The Big Bang Theory</p> </li>
      <li><h5>Favourite Movie:</h5> <p>My name is Khan</p> </li>
    </ul>
  </div> 

  <div class="col-3">
    <h4>Inspirations</h4>
    <ul class="aboutmeList inspirations">
      <li><h5>Technology:</h5> <p>Elon Musk</p> </li>
      <li><h5>Political:</h5> <p>Narendra Modi</p> </li>
      <li><h5>Sports:</h5> <p>Mahendra Singh Dhoni</p> </li>
      <li><h5>Business:</h5> <p>Mukesh Ambani</p> </li>
      <li><h5>Human Being:</h5> <p>APJ Abdul Kalam</p> </li>
      <li><h5>Everyday:</h5> <p>Mummi, Papa ❤️</p> </li>
    </ul>
  </div>

</div>

<p>The above mentioned fields are subject to dynamic changes based on market situations. An attempt to evaluate me based on the above may or may not be a good idea ;)</p>

  


<%- include('partials/footer'); %> 