<%- include('partials/header'); %>

  <h2>Contact</h2>
  <p>
    <%= cContent %>
  </p>

  <div class="contactDetails">
    <div class="contactList">
      <div class="contListItem"><h4>Email:</h4> <a href="mailto:ankurkhsocial@gmail.com" target="_blank">ankurkhsocial@gmail.com</a></div>
      <div class="contListItem"><h4>WhatsApp:</h4> <a href="https://api.whatsapp.com/send?phone=7008498528&text=Hi Ankur" target="_blank">Hi Ankur</a></div>
      <div class="contListItem"><h4>LinkedIn:</h4> <a href="https://www.linkedin.com/in/ankurkh1/" target="_blank">ankurkh1</a></div>
      <div class="contListItem"><h4>Twitter:</h4> <a href="https://twitter.com/ankurkh1" target="_blank">@ankurkh1</a></div>
      <div class="contListItem"><h4>GitHub:</h4> <a href="https://github.com/Ankur-Khandelwal" target="_blank">Ankur-Khandelwal</a></div>
    </div>
  
    <div class="locationSnippet">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59483.94133685357!2d86.66006024908084!3d21.28150641017105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1c6e4937d9faed%3A0xa1b158619dda6cd4!2sSoro%2C%20Odisha%20756045!5e0!3m2!1sen!2sin!4v1629927440861!5m2!1sen!2sin" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>

  <%- include('partials/footer'); %>